.env

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

mono_crash.*

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
Generated\ Files/

project.lock.json
project.fragment.lock.json
artifacts/

ScaffoldingReadMe.txt

*.nupkg
*.snupkg

CodeCoverage/

*.binlog

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.VisualState.xml
TestResult.xml
nunit-*.xml

*.pdb
*.ipdb
*.log
*.tlog
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.cache

.idea/
*.sln.iml

.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

publish/
*.pubxml
PublishScripts/

UploadedFiles/
appsettings.Development.json
